In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('분석완료리뷰.xlsx')

In [3]:
df.head()

       영화제목                      리뷰      긍정확률      부정확률      최종판단        감성2
0  보헤미안 랩소디  살아생전 못가본 퀸 콘서트에 갔다왔습니다  0.588108  0.411892  Positive  69.177192
1  보헤미안 랩소디        브라이언메이 싱크로율 말이되냐  0.151015  0.848985  Negative  95.842019
2  보헤미안 랩소디   슬픈장면은 없는데 눈물 나는 영화 ㅠㅜ  0.063936  0.936064  Negative  98.631207
3  보헤미안 랩소디   그 시절 영국에는 두명의 여왕이 있었다  0.355330  0.644670  Negative  89.340884
4  보헤미안 랩소디    브라이언 메이는 본인을 데려오신건가요  0.047623  0.952377  Negative  94.368305

In [4]:
df=df[['영화제목','리뷰','긍정확률','감성2']]
df.head()

       영화제목                      리뷰      긍정확률        감성2
0  보헤미안 랩소디  살아생전 못가본 퀸 콘서트에 갔다왔습니다  0.588108  69.177192
1  보헤미안 랩소디        브라이언메이 싱크로율 말이되냐  0.151015  95.842019
2  보헤미안 랩소디   슬픈장면은 없는데 눈물 나는 영화 ㅠㅜ  0.063936  98.631207
3  보헤미안 랩소디   그 시절 영국에는 두명의 여왕이 있었다  0.355330  89.340884
4  보헤미안 랩소디    브라이언 메이는 본인을 데려오신건가요  0.047623  94.368305

In [9]:
df['조정확률']=((df['긍정확률']+df['감성2']/100)/2).round(2)

In [10]:
df

,영화제목,리뷰,긍정확률,감성2,조정확률
0,보헤미안 랩소디,살아생전 못가본 퀸 콘서트에 갔다왔습니다,0.588108,69.177192,0.64
1,보헤미안 랩소디,브라이언메이 싱크로율 말이되냐,0.151015,95.842019,0.55
2,보헤미안 랩소디,슬픈장면은 없는데 눈물 나는 영화 ㅠㅜ,0.063936,98.631207,0.53
3,보헤미안 랩소디,그 시절 영국에는 두명의 여왕이 있었다,0.355330,89.340884,0.62
4,보헤미안 랩소디,브라이언 메이는 본인을 데려오신건가요,0.047623,94.368305,0.50
...,...,...,...,...,...
7822,일론 머스크: 리얼 아이언맨,화성 갈끄니까아,0.388081,92.052908,0.65
7823,일론 머스크: 리얼 아이언맨,아이언맨 캐릭터가 년에 나왔는데 무슨 년생이 모티브야 저건 사기꾼샣이지,0.005949,97.913425,0.49
7824,일론 머스크: 리얼 아이언맨,테슬라가 별개가 뭐고 개가자,0.042133,95.560148,0.50
7825,일론 머스크: 리얼 아이언맨,전부 아는 내용이고 무슨기자 하고 주변인물 몇명 나와서 지루하게 머스크에 대해서 이...,0.005918,54.567134,0.28
7826,일론 머스크: 리얼 아이언맨,감상평 꼬라지 봐라 ㅋㅋ전부 코인충 새끼들이네,0.090085,95.074703,0.52

In [29]:
a=df.groupby(['영화제목'])['조정확률'].mean()

In [30]:
a

영화제목
#살아있다                  0.493333
#위왓치유                  0.604000
0.0MHz                 0.561000
007 노 타임 투 다이          0.504444
100% 울프: 푸들이 될 순 없어    0.914000
                         ...
후드                     0.488000
후쿠오카                   0.506667
흥부: 글로 세상을 바꾼 자        0.463000
흩어진 밤                  0.626000
힐빌리의 노래                0.687000
Name: 조정확률, Length: 812, dtype: float64

In [32]:
b=df[['영화제목','조정확률']]
b.head()

       영화제목  조정확률
0  보헤미안 랩소디  0.64
1  보헤미안 랩소디  0.55
2  보헤미안 랩소디  0.53
3  보헤미안 랩소디  0.62
4  보헤미안 랩소디  0.50

In [37]:
b.rename(columns={'영화제목':'영화명'},inplace=True)
b.head()

C:\anaconda\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        영화명  조정확률
0  보헤미안 랩소디  0.64
1  보헤미안 랩소디  0.55
2  보헤미안 랩소디  0.53
3  보헤미안 랩소디  0.62
4  보헤미안 랩소디  0.50

In [42]:
c=b.groupby(['영화명'],as_index=False).mean()

In [46]:
c=c.round(2)

In [47]:
c

                     영화명  조정확률
0                  #살아있다  0.49
1                  #위왓치유  0.60
2                 0.0MHz  0.56
3          007 노 타임 투 다이  0.50
4    100% 울프: 푸들이 될 순 없어  0.91
..                   ...   ...
807                   후드  0.49
808                 후쿠오카  0.51
809      흥부: 글로 세상을 바꾼 자  0.46
810                흩어진 밤  0.63
811              힐빌리의 노래  0.69

[812 rows x 2 columns]

In [17]:
result=pd.read_excel('Result.xlsx')
result.head()

,영화명,개봉일,매출액,매출액점유율,관객수,스크린수,상영횟수,대표국적,등급,장르,제작연도,유형,편당관객수,스크린당관객수,네티즌평점,평론가평점
0,보헤미안 랩소디,2018-10-31,25.105423,0.044,9224582,1179,204537,미국,12세이상관람가,드라마,2018,장편,45.099821,7824.072943,9.42,6.14
1,공작,2018-08-08,24.479543,0.024,4974520,1317,99001,한국,12세이상관람가,드라마,2017,장편,50.247169,3777.160213,6.83,6.93
2,국가부도의 날,2018-11-28,24.152268,0.017,3747952,1180,100804,한국,12세이상관람가,드라마,2018,장편,37.180588,3176.230508,8.12,6.50
3,코코,2018-01-11,24.044174,0.015,3510017,1177,85925,미국,전체관람가,애니메이션,2017,장편,40.849776,2982.172472,9.32,8.00
4,아쿠아맨,2018-12-19,24.139493,0.017,3491857,1285,54505,미국,12세이상관람가,액션,2018,장편,64.064893,2717.398444,8.36,6.83

In [48]:
results=pd.merge(result,c,how='inner')

In [49]:
results

,영화명,개봉일,매출액,매출액점유율,관객수,스크린수,상영횟수,대표국적,등급,장르,제작연도,유형,편당관객수,스크린당관객수,네티즌평점,평론가평점,조정확률
0,보헤미안 랩소디,2018-10-31,25.105423,0.044,9224582,1179,204537,미국,12세이상관람가,드라마,2018,장편,45.099821,7824.072943,9.42,6.14,0.58
1,공작,2018-08-08,24.479543,0.024,4974520,1317,99001,한국,12세이상관람가,드라마,2017,장편,50.247169,3777.160213,6.83,6.93,0.53
2,국가부도의 날,2018-11-28,24.152268,0.017,3747952,1180,100804,한국,12세이상관람가,드라마,2018,장편,37.180588,3176.230508,8.12,6.50,0.78
3,코코,2018-01-11,24.044174,0.015,3510017,1177,85925,미국,전체관람가,애니메이션,2017,장편,40.849776,2982.172472,9.32,8.00,0.62
4,아쿠아맨,2018-12-19,24.139493,0.017,3491857,1285,54505,미국,12세이상관람가,액션,2018,장편,64.064893,2717.398444,8.36,6.83,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,라이브 하드,2021-02-25,14.480809,0.000,237,10,92,한국,15세이상관람가,드라마,2020,장편,2.576087,23.700000,8.86,6.00,0.75
808,윙스 오버 에베레스트,2021-09-30,13.874534,0.000,174,10,10,중국,15세이상관람가,액션,2019,장편,17.400000,17.400000,6.17,0.00,0.67
809,"킬링,",2021-04-07,13.908463,0.000,125,4,53,일본,청소년관람불가,드라마,2018,장편,2.358491,31.250000,8.78,7.83,0.52
810,서유기: 재세요왕,2021-09-30,13.883636,0.000,123,20,22,중국,전체관람가,애니메이션,2020,장편,5.590909,6.150000,5.67,6.00,0.56
811,일론 머스크: 리얼 아이언맨,2021-02-11,13.384728,0.000,101,1,9,영국,전체관람가,다큐멘터리,2018,장편,11.222222,101.000000,5.32,0.00,0.55

In [2]:
df=pd.read_excel('분석완료리뷰 진행.xlsx')
df.head()

       영화제목                      리뷰     긍정확률
0  보헤미안 랩소디  살아생전 못가본 퀸 콘서트에 갔다왔습니다  0.77689
1  보헤미안 랩소디        브라이언메이 싱크로율 말이되냐  0.80000
2  보헤미안 랩소디   슬픈장면은 없는데 눈물 나는 영화 ㅠㅜ  0.60000
3  보헤미안 랩소디   그 시절 영국에는 두명의 여왕이 있었다  0.88924
4  보헤미안 랩소디    브라이언 메이는 본인을 데려오신건가요  0.90000

In [3]:
df=df[['영화제목','긍정확률']]
df.rename(columns={'영화제목':'영화명'},inplace=True)
df.head()

        영화명     긍정확률
0  보헤미안 랩소디  0.77689
1  보헤미안 랩소디  0.80000
2  보헤미안 랩소디  0.60000
3  보헤미안 랩소디  0.88924
4  보헤미안 랩소디  0.90000

In [6]:
a=df.groupby(['영화명'],as_index=False).mean()

In [7]:
a=a.round(2)

In [8]:
a

                     영화명  긍정확률
0                  #살아있다  0.08
1                  #위왓치유  0.52
2                 0.0MHz  0.73
3          007 노 타임 투 다이  0.18
4    100% 울프: 푸들이 될 순 없어  0.88
..                   ...   ...
807                   후드  0.08
808                 후쿠오카  0.12
809      흥부: 글로 세상을 바꾼 자  0.03
810                흩어진 밤  0.42
811              힐빌리의 노래  0.74

[812 rows x 2 columns]

In [9]:
result=pd.read_excel('Result.xlsx')
result.head()

,영화명,개봉일,매출액,매출액점유율,관객수,스크린수,상영횟수,대표국적,등급,장르,제작연도,유형,편당관객수,스크린당관객수,네티즌평점,평론가평점
0,보헤미안 랩소디,2018-10-31,25.105423,0.044,9224582,1179,204537,미국,12세이상관람가,드라마,2018,장편,45.099821,7824.072943,9.42,6.14
1,공작,2018-08-08,24.479543,0.024,4974520,1317,99001,한국,12세이상관람가,드라마,2017,장편,50.247169,3777.160213,6.83,6.93
2,국가부도의 날,2018-11-28,24.152268,0.017,3747952,1180,100804,한국,12세이상관람가,드라마,2018,장편,37.180588,3176.230508,8.12,6.50
3,코코,2018-01-11,24.044174,0.015,3510017,1177,85925,미국,전체관람가,애니메이션,2017,장편,40.849776,2982.172472,9.32,8.00
4,아쿠아맨,2018-12-19,24.139493,0.017,3491857,1285,54505,미국,12세이상관람가,액션,2018,장편,64.064893,2717.398444,8.36,6.83

In [11]:
results=pd.merge(result,a,how='inner')
results

,영화명,개봉일,매출액,매출액점유율,관객수,스크린수,상영횟수,대표국적,등급,장르,제작연도,유형,편당관객수,스크린당관객수,네티즌평점,평론가평점,긍정확률
0,보헤미안 랩소디,2018-10-31,25.105423,0.044,9224582,1179,204537,미국,12세이상관람가,드라마,2018,장편,45.099821,7824.072943,9.42,6.14,0.73
1,공작,2018-08-08,24.479543,0.024,4974520,1317,99001,한국,12세이상관람가,드라마,2017,장편,50.247169,3777.160213,6.83,6.93,0.20
2,국가부도의 날,2018-11-28,24.152268,0.017,3747952,1180,100804,한국,12세이상관람가,드라마,2018,장편,37.180588,3176.230508,8.12,6.50,0.79
3,코코,2018-01-11,24.044174,0.015,3510017,1177,85925,미국,전체관람가,애니메이션,2017,장편,40.849776,2982.172472,9.32,8.00,0.64
4,아쿠아맨,2018-12-19,24.139493,0.017,3491857,1285,54505,미국,12세이상관람가,액션,2018,장편,64.064893,2717.398444,8.36,6.83,0.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,라이브 하드,2021-02-25,14.480809,0.000,237,10,92,한국,15세이상관람가,드라마,2020,장편,2.576087,23.700000,8.86,6.00,0.64
808,윙스 오버 에베레스트,2021-09-30,13.874534,0.000,174,10,10,중국,15세이상관람가,액션,2019,장편,17.400000,17.400000,6.17,0.00,0.46
809,"킬링,",2021-04-07,13.908463,0.000,125,4,53,일본,청소년관람불가,드라마,2018,장편,2.358491,31.250000,8.78,7.83,0.13
810,서유기: 재세요왕,2021-09-30,13.883636,0.000,123,20,22,중국,전체관람가,애니메이션,2020,장편,5.590909,6.150000,5.67,6.00,0.27
811,일론 머스크: 리얼 아이언맨,2021-02-11,13.384728,0.000,101,1,9,영국,전체관람가,다큐멘터리,2018,장편,11.222222,101.000000,5.32,0.00,0.24

In [13]:
results.to_excel('최종데이터.xlsx',index=False)